# HFT - Intraday volatility estimation from high frequency data


**Lucas RODRIGUEZ**

*Academic work - October/November/December 2022*

In [1]:
import pandas as pd

In [3]:
data_folder = "data/"
source_filename = data_folder + "IVE_tickbidask.txt"

df = pd.read_csv(filepath_or_buffer=source_filename)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10383277 entries, 0 to 10383276
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   09/28/2009  object
 1   09:30:00    object
 2   50.79       float64
 3   50.7        float64
 4   50.79.1     float64
 5   100         int64
dtypes: float64(3), int64(1), object(2)
memory usage: 475.3+ MB

In [6]:
df.head(10)

   09/28/2009  09:30:00  50.79   50.7  50.79.1  100
0  09/28/2009  09:30:00  50.71  50.70    50.79  638
1  09/28/2009  09:31:32  50.75  50.75    50.76  100
2  09/28/2009  09:31:32  50.75  50.75    50.76  100
3  09/28/2009  09:31:33  50.75  50.75    50.76  100
4  09/28/2009  09:31:33  50.75  50.75    50.76  100
5  09/28/2009  09:31:33  50.75  50.75    50.76  100
6  09/28/2009  09:31:33  50.75  50.75    50.76  100
7  09/28/2009  09:31:33  50.75  50.75    50.76  100
8  09/28/2009  09:31:33  50.75  50.75    50.76  100
9  09/28/2009  09:31:33  50.75  50.72    50.75  100